#ignore large datafiles
**/*.h5

# ignore subfolders used for programm settings and caches
.vscode
.ipynb_checkpoints
__pycache__
/docs/_build
*.egg-info
sandbox_*
build
dist

# Test and coverage
.pytest_cache
.coverage
htmlcov
coverage.xml
.benchmarks
.ruff_cache
